html, body{
  height: 100%;
  max-width: 100%;
}
.l{
  color: #f8110d;
}
body{
  background-color: #F8F9FA;
}
.containerls{
  width: 1000px;
}
.create-account a{
  font-size: 18px;
}

.login, .register{
  height: 100%;
}
@media (max-width: 789px) {
  .container{
    width: auto;
  }
  .test{
    height: 50px;
  }
}

@media (max-width: 768px) {
  
}